<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />
        </f:facet>
        <f:metadata>
            <f:event type="preRenderView" listener="#{activarUsuarioMB.doPreRenderView()}"/>
            <f:viewParam name="code1" value="#{activarUsuarioMB.code1}"/>
            <f:viewParam name="code2" value="#{activarUsuarioMB.code2}"/>
            <f:viewParam name="code3" value="#{activarUsuarioMB.code3}"/>
        </f:metadata>
        <title>EMOT Gestión de Turnos - Atlantis</title>
    </h:head>

    <h:body styleClass="login-body">

        <div class="mobile-banner">
            <p:graphicImage name="images/logo-mobile.svg" library="prestige-layout" />
        </div>
        <div class="login-panel">
            <div class="logo">
                <p:graphicImage name="images/logo_emot.svg" library="prestige-layout" />
            </div>
            <div class="back-icon">
                <p:button outcome="/login" icon="fa fa-arrow-left" />
            </div>
        </div>

        <div class="login-card">
            <div class="top-border"></div>
            <div class="login-content">
                <h:form prependId="false">
                    <p:growl id="messages" showDetail="true" globalOnly="true" showSummary="true" ><p:autoUpdate/></p:growl>
                    <h1>Activación de Usuario</h1>
                    <h:panelGrid styleClass="ui-panelgrid-blank" columns="1">
                        <p:outputLabel value="#{activarUsuarioMB.mensaje}" 
                                       style="font-weight: bolder;font-size: 18px;"/><br></br>
                        <br></br>
                        <p:commandButton 
                            icon="fa fa-sign-in"
                            value="Ir a Iniciar Sesión"
                            rendered="#{activarUsuarioMB.render}" 
                            action="/login.xhtml?faces-redirect=true" />
                    </h:panelGrid>
                </h:form>
            </div>

        </div>

        <h:outputStylesheet name="css/layout-steel.css" library="prestige-layout" />

    </h:body>

</html>