<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />
        </f:facet>
        <f:metadata>
            <f:event type="preRenderView" listener="#{cambioClaveMB.doPreRenderView()}"/>
            <f:viewParam name="code1" value="#{cambioClaveMB.code1}"/>
            <f:viewParam name="code2" value="#{cambioClaveMB.code2}"/>
            <f:viewParam name="code3" value="#{cambioClaveMB.code3}"/>
        </f:metadata>
        <title>EMOT Gestión de Turnos - Atlantis</title>
    </h:head>

    <h:body styleClass="login-body">

        <div class="mobile-banner">
            <p:graphicImage name="images/logo-mobile.svg" library="prestige-layout" />
        </div>
        <div class="login-panel">
            <div class="logo">
                <p:graphicImage name="images/logo_emot.svg" library="prestige-layout" />
            </div>
            <div class="back-icon">
                <p:button outcome="/login" icon="fa fa-arrow-left" />
            </div>
        </div>

        <div class="login-card">
            <div class="top-border"></div>
            <div class="login-content">
                <h:form prependId="false">
                    <p:growl id="messages" showDetail="true" globalOnly="true" showSummary="true" ><p:autoUpdate/></p:growl>
                    <h1>Cambio de Contraseña</h1>
                    <h:panelGrid style="width: 100%"  columns="1">
                        <p:outputLabel value="#{cambioClaveMB.mensaje}" 
                                       style="font-weight: bolder;font-size: 18px;"/>
                        <p:outputLabel value="Debe ser mayor o igual a 5 caracteres." 
                                       style="margin-left:  50px; margin-top: 160px; margin-bottom: 160px; font-size: 12px "/>
                    </h:panelGrid>

                    <h:panelGrid columns="1" rendered="#{cambioClaveMB.render}"  style="width: 100%" >
                        <div class="username-container">
                            <h:panelGroup>
                                <p:outputLabel for="username" value="Usuario:"   />
                                <div class="login-input">
                                    <p:inputText value="#{cambioClaveMB.usuario.usuario}" required="true"
                                                 id="username" readonly="true" />    
                                </div>
                            </h:panelGroup>    
                        </div>
                        <div class="username-container">
                            <h:panelGroup>
                                <p:outputLabel for="userPassword" value="Contraseña:" /><br></br>
                                <div class="login-input">
                                    <p:password id="userPassword" 
                                                value="#{cambioClaveMB.contrasenia}"
                                                required="true" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="username-container">
                            <h:panelGroup>
                                <p:outputLabel for="userPassword2" value="Repetir Contraseña:" />
                                <div class="login-input">
                                    <p:password id="userPassword2" 
                                                value="#{cambioClaveMB.contraseniaconfirmar}"
                                                required="true"/>
                                </div>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup>
                            <p:commandButton 
                                icon="fa fa-refresh" value="Actualizar Clave" update="@form" 
                                actionListener="#{cambioClaveMB.cambiarClave()}"/>
                        </h:panelGroup>
                    </h:panelGrid>


                </h:form>
            </div>

        </div>

        <h:outputStylesheet name="css/layout-steel.css" library="prestige-layout" />

    </h:body>

</html>