<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />

        </f:facet>
        <title>EMOT Gestión de Turnos - Atlantis</title>
    </h:head>

    <h:body styleClass="login-body">

        <div class="mobile-banner">
            <p:graphicImage name="images/logo-mobile.svg" library="prestige-layout" />
        </div>
        <div class="login-panel">
            <div class="logo">
                <p:graphicImage name="images/logo_emot.svg" library="prestige-layout" />
            </div>
            <div class="back-icon">
                <p:button outcome="/login" icon="fa fa-arrow-left" />
            </div>
        </div>

        <div class="login-card">
            <div class="top-border"></div>
            <div class="login-content">
                <h:form prependId="false">
                    <p:messages id="messages" showDetail="true" globalOnly="true" showSummary="true" >
                        <p:autoUpdate/>
                    </p:messages>
                    <h1>Olvido de Contraseña</h1>
                    <h:panelGrid id="pnlBusqueda" columns="1"  rendered="#{olvidoClaveMB.init}" style="width: 100%">
                        <div class="username-container">
                            <h:panelGroup>
                                <label>Identificación (Cédula, RUC, Pasaporte)</label>
                                <div class="login-input">
                                    <p:inputText value="#{olvidoClaveMB.usuario.persona.identificacion}" placeholder="Ingrese su usuario" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div >
                            <p:commandButton value="Buscar Usuario" icon="fa fa-search" 
                                             actionListener="#{olvidoClaveMB.consultar()}" update="@form"/>
                        </div>
                    </h:panelGrid>
                    <h:panelGrid id="pnlDatos" columns="1"  rendered="#{olvidoClaveMB.siguiente}" style="width: 100%">
                        <div  class="username-container" >
                            <p:outputLabel value="** Nota: Se enviará un correo al que se encuentra asociado al usuario, con una validez de 24 horas."/>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup  >
                                <p:outputLabel for="datos" value="Datos" />
                                <div class="login-input">
                                    <p:inputText id="datos" 
                                                 required="true"
                                                 readonly="true"
                                                 value="#{olvidoClaveMB.usuario.persona.apellidos} #{olvidoClaveMB.usuario.persona.nombres}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup >
                                <p:outputLabel for="correo" value="Correo Electrónico" />
                                <div class="login-input">
                                    <p:inputText id="correo" 
                                                 placeholder="Correo Electrónico"
                                                 required="true"
                                                 readonly="true"
                                                 value="#{olvidoClaveMB.usuario.persona.correoCodificado}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup >
                            <div  style="height: 40px">
                                <p:commandButton value="Enviar Correo " update="@form"
                                                 icon="fa fa-send"
                                                 action="#{olvidoClaveMB.recuperarClave()}" />
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                    <h:panelGrid id="pnlAprobado" columns="1" rendered="#{olvidoClaveMB.finish}" 
                                 style="width: 100%">
                        <h:panelGroup >
                            <div  >
                                <p:outputLabel value="Hemos enviado un mensaje al siguiente correo  " 
                                               style="font-weight: normal !important"/>
                                <p:outputLabel value="#{olvidoClaveMB.usuario.persona.correoCodificado}" 
                                               style="font-weight: bolder !important"/>

                                <p:outputLabel value=" para recuperar su cuenta." 
                                               style="font-weight: normal !important" /> 

                            </div>
                        </h:panelGroup>

                        <p:spacer height="5" />
                        <p:commandButton value="Iniciar Sesión" 
                                         icon="fa fa-sign-in"
                                         action="/login.xhtml?faces-redirect=true"  />
                        <p:spacer height="10" />

                    </h:panelGrid>
                </h:form>
            </div>

        </div>

        <h:outputStylesheet name="css/layout-steel.css" library="prestige-layout" />

    </h:body>

</html>