<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />

        </f:facet>
        <title>AutoFreno</title>
    </h:head>

    <h:body styleClass="login-body">

        <div class="mobile-banner">
            <p:graphicImage name="images/autofreno.png" library="prestige-layout" />
        </div>
        <div class="login-panel">
            <div class="logo">
                <p:graphicImage name="images/autofreno.png" library="prestige-layout" width="110" height="120"  />
            </div>
            <div class="back-icon">
                <p:button outcome="/login" icon="fa fa-arrow-left" />
            </div>
        </div>
        <div class="login-card"> 
            <div class="login-content">
                <h:form id="mainForm" prependId="false">
                    <style>

                        .ui-progressbar{
                            width: 20% !important;
                        }
                        .ui-fileupload-files{
                            width: 10% !important;
                        }
                        .preformatted {
                            white-space: pre;
                        }
                        .ui-widget-header{
                            background-color: white !important;
                        }

                        .ui-corner-top{
                            background-color: white !important;
                        }
                        .ui-fileupload-buttonbar .ui-button {
                            vertical-align: top;
                            margin-right: 0.2em;
                            width: 10% !important;
                        }
                        .ui-fileupload-buttonbar {
                            align-content: center  !important;
                            height: 10% !important;
                        }
                        .ui-fileupload .ui-fileupload-buttonbar{
                            align-content: center  !important;
                            height: 5% !important; 
                        }
                        .ui-fileupload-content {
                            align-content: center  !important;
                            padding: 0.2em 0.4em;
                            border-top-width: 0;
                            width: auto  !important;
                            height: 5% !important;   
                        }
                        .ui-fileupload-content ui-widget-content ui-corner-bottom{
                            height: 5% !important;      
                            width:  5% !important;      
                        } 
                        .ui-fileupload-buttonbar .ui-button{
                            padding: 20px !important
                        }
                        .ui-fileupload-buttonbar .ui-button .ui-button-text {
                            display: none;
                        }
                        .ui-fileupload-buttonbar .ui-button .ui-icon{
                            margin-left: 8px !important;
                        }
                    </style>
                    <!--<p:spacer height="100" rendered="# {registroMB.existePerso na}"/>-->
                    <p:messages id="messages" showDetail="true" globalOnly="true"  closable="true" showSummary="true" >
                        <p:autoUpdate/>
                    </p:messages>

                    <h1>Registro de Usuario</h1> 
                    <h:panelGrid id="pnlBusqueda" columns="1"  rendered="#{registroMB.busqueda}"
                                 style="width: 100%">
                        <div class="username-container">
                            <h:panelGroup>
                                <p:outputLabel for="identificacion" value="Identificación (Cédula - RUC)" />
                                <div class="login-input">
                                    <p:inputText id="identificacion" value="#{registroMB.identificacion}"
                                                 required="true"
                                                 readonly="#{registroMB.existePersona}"
                                                 placeholder="Ingrese su identificación" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="username-container">
                            <h:panelGroup>
                                <p:outputLabel for="fechaExpedicionIdentificacion" value="Fecha de Expedición (Cédula) / Inicio de Actividades (RUC)" />
                                <div class="login-input">
                                    <p:calendar id="fechaExpedicionIdentificacion" 
                                                value="#{registroMB.fechaExpedicion}" 
                                                size="40"  
                                                required="true"
                                                placeholder="dd/MM/yyyy"
                                                pattern="dd/MM/yyyy"/>
                                </div>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup>
                            <div  style="height: 40px">
                                <p:commandButton value="Buscar Datos"
                                                 icon="fa fa-search"
                                                 update="@form"
                                                 actionListener="#{registroMB.consultar()}" />
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                    <h:panelGrid id="pnlDatos" columns="1"  rendered="#{registroMB.existePersona}" style="width: 100%">
                        <div  class="username-container" >
                            <h:panelGroup  >
                                <p:outputLabel for="datos" value="Datos" />
                                <div class="login-input">
                                    <p:inputText id="datos" 
                                                 required="true"
                                                 readonly="true"
                                                 value="#{registroMB.persona.apellidos} #{registroMB.persona.nombres}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup >
                                <p:outputLabel for="direccion" value="Dirección" />
                                <div class="login-input">
                                    <p:inputText id="direccion" 
                                                 required="true"
                                                 placeholder="Dirección"
                                                 value="#{registroMB.persona.direccion}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup >
                                <p:outputLabel for="telefono" value="Teléfono" />
                                <div class="login-input">
                                    <p:inputText id="telefono"  
                                                 placeholder="Teléfono"
                                                 value="#{registroMB.persona.telefono}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup >
                                <p:outputLabel for="celular" value="Celular" />
                                <div class="login-input">
                                    <p:inputText id="celular" 
                                                 required="true"
                                                 placeholder="Celular"
                                                 value="#{registroMB.persona.celular}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup rendered="#{registroMB.persona.tipoDocumento ne 'RUC'}">
                                <p:outputLabel for="correo" value="Correo Electrónico" />
                                <div class="login-input">
                                    <p:inputText id="correo" 
                                                 placeholder="Correo Electrónico"
                                                 required="true"
                                                 value="#{registroMB.persona.correo}" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup >
                            <div  style="height: 40px">
                                <p:commandButton value="Siguiente " update="@form"
                                                 icon="fa fa-chevron-right"
                                                 action="#{registroMB.siguientePaso()}" />
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                    <h:panelGrid id="pnlUsuario" columns="1" rendered="#{registroMB.siguiente}" 
                                 style="width: 100%">
                        <div  class="username-container" >
                            <h:panelGroup>
                                <p:outputLabel id="imagen" value="Imagen #{registroMB.imagen}" /><br></br>
                                <div align="center">
                                    <p:fileUpload  id="imagenUsuario" label="Imagen"
                                                   update="imagen"
                                                   mode="advanced" 
                                                   fileUploadListener="#{registroMB.handleFileUpload}" 
                                                   dragDropSupport="false"
                                                   multiple="false" 
                                                   sizeLimit="1000000" 
                                                   fileLimit="10" 
                                                   style="width: auto; height: 50% !important;"
                                                   allowTypes="/(\.|\/)(jpe?g|png)$/" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <div  class="username-container" >
                            <h:panelGroup>
                                <p:outputLabel for="usuarioValidar" value="Nombre de Usuario" />
                                <p:outputLabel  value=" Su usuario debe ser mayor a 5 dígitos " style="font-size: 8px !important"  />
                                <div class="login-input">
                                    <p:inputText id="usuarioValidar"  
                                                 placeholder="Nombre de Usuario"
                                                 required="true" 
                                                 autocomplete="new-password"
                                                 value="#{registroMB.usuario.usuario}">
                                        <p:ajax event="blur" listener="#{registroMB.validarUsuarioFronEnd()}" />
                                    </p:inputText>

                                </div>
                            </h:panelGroup>
                        </div>
                        <div class="password-container">
                            <h:panelGroup>
                                <p:outputLabel for="contrasenia" value="Contraseña " />
                                <p:outputLabel  value=" La contraseña debe ser mayor a 5 dígitos " style="font-size: 8px !important" />
                                <div class="login-input">
                                    <p:password id="contrasenia" value="#{registroMB.contrasenia}" 
                                                required="true"
                                                placeholder="Ingrese su contraseña" />
                                </div>

                            </h:panelGroup>
                        </div>
                        <div class="password-container">
                            <h:panelGroup>
                                <p:outputLabel for="contraseniaconfirmar" value="Confirme su Contraseña" />
                                <div class="login-input">
                                    <p:password id="contraseniaconfirmar" 
                                                value="#{registroMB.contraseniaconfirmar}" 
                                                autocomplete="false"
                                                required="true"
                                                placeholder="Confirme su contraseña" />
                                </div>
                            </h:panelGroup>
                        </div>
                        <h:panelGroup >
                            <div  style="height: 40px">
                                <p:commandButton value="Registrar Usuario" update="@form"
                                                 icon="fa fa-save"
                                                 actionListener="#{registroMB.registrar()}" />
                            </div>
                        </h:panelGroup>

                    </h:panelGrid>
                    <h:panelGrid id="pnlAprobado" columns="1" rendered="#{registroMB.ok}" 
                                 style="width: 100%">
                        <h:panelGroup >
                            <div  >
                                <p:outputLabel value="Su usuario se ha creado correctamente acerquese a la administración para que 
                                               lo activar su cuenta." 
                                               style="font-weight: bolder !important"/>
                             
                            </div>
                        </h:panelGroup>

                        <p:spacer height="5" />
                        <p:commandButton value="Iniciar Sesión" 
                                         icon="fa fa-sign-in"
                                         action="/login.xhtml?faces-redirect=true"  />
                        <p:spacer height="10" />

                    </h:panelGrid>
                </h:form>
            </div>
        </div>

        <p:dialog showHeader="false" widgetVar="dlgTerminos"
                  showEffect="explode" modal="true" height="400" width="620">
            <br></br>
            <h:form id="frmTerminos">
                <center>
                    <h:panelGrid columns="1" style="margin: 0 auto; font-weight: bolder" >
                        <h:panelGroup>
                            <h:outputText   
                                value="#{registroMB.terminoCondicion}"  
                                escape="false"
                                /> <br/>
                        </h:panelGroup>
                    </h:panelGrid>
                    <br/>
                    <br/>
                    <p:commandButton value="Aceptar" oncomplete="PF('dlgTerminos').hide();" />
                </center>
            </h:form>
        </p:dialog>

        <h:outputStylesheet name="css/layout-steel.css" library="prestige-layout" />

    </h:body>

</html>