<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">

    <h:form id="menuform"> 
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <pp:menu widgetVar="me">
                        <p:menuitem id="om_dashboard" value="Inicio" icon="fa fa-fw fa-home" outcome="/dashboard"/>


                        <p:submenu id="om_default" label="Administración" icon="fa fa-fw fa-life-saver">
                            <p:menuitem id="om_empty" value="Usuarios" icon="fa fa-fw fa-square-o" outcome="/mantenimientos/usuarios" />
                            <p:menuitem id="om_login" value="Roles" icon="fa fa-fw fa-square-o"  outcome="/mantenimientos/roles" />
                        </p:submenu>



                        <p:submenu id="om_components" label="Mantenimientos" icon="fa fa-fw fa-sitemap">
                            <p:menuitem  value="Profesores" icon="fa fa-fw fa-square-o" outcome="/mantenimientos/profesores" />
                            <p:menuitem  value="Vehiculos" icon="fa fa-fw fa-square-o"  outcome="/mantenimientos/vehiculos" />
                            <p:menuitem  value="Horarios" icon="fa fa-fw fa-square-o"  outcome="/mantenimientos/horarios" />
                            <p:menuitem  value="Profesores - Horarios" icon="fa fa-fw fa-square-o"  outcome="/mantenimientos/horarioProfesor" />
                            <p:menuitem  value="Profesores - Vehiculos" icon="fa fa-fw fa-square-o"  outcome="/mantenimientos/vehiculoProfesor" />
                        </p:submenu>
                        <p:menuitem  value="Control Vehicular" icon="fa fa-fw fa-square-o"  outcome="/administracion/controlVehicular" />
                        <p:menuitem  value="Parqueos" icon="fa fa-fw fa-square-o"  outcome="/administracion/parqueosDisponibles" />
                    </pp:menu>

                </div>
            </div>
        </div>
    </h:form>
</ui:composition>