<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/poseidon">

    <div class="topbar clearfix">
        <div class="topbar-left">
            <h3>Control Vehicular</h3>
        </div>

        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i class="fa fa-angle-left"></i>

            </a>

            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>

            </a>
            <ul class="topbar-items fadeInDown animated">

                <li>
                    <a href="#">
                        <i class="topbar-icon fa fa-fw fa-cog"></i>
                        <span class="topbar-item-name">Settings</span>
                    </a>
                    <ul class="poseidon-menu animated">

                        <li role="menuitem">
                            <a href="#">
                                <h:form>
                                    <p:commandLink id="btnLogOut" action="#{loginElecciones.logout()}" update="@all">
                                        <i class="fa fa-fw fa-sign-out"></i>
                                        <h:outputText value="Cerrar sesion" />
                                    </p:commandLink>
                                </h:form>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

</ui:composition>