<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Control Vehicular</title>
    </h:head>

    <h:body styleClass="login-body">
        <h:form id="frmLogin">
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    
                    <div class="ui-g-12 logo-container">
                        <p:outputLabel  value="Control Vehicular" style="font-weight: bolder; color: #004285; font-size: 16px" /> <br></br>
                        <p:graphicImage name="images/login/login-logo.png" library="poseidon-layout" width="70" height="70" style="margin-left: 20px"/>
                    </div>
                    <p:messages id="messages" showDetail="true" closable="true">
                        <p:autoUpdate />
                    </p:messages>
                    <p:outputLabel for="user" value="Usuario" style="font-weight: bolder" /> 
                    <div class="ui-g-12">
                        <p:inputText id="user"  placeholder="Usuario" value="#{loginMB.login.nombreUsuario}" required="true" />
                    </div>
                    <p:outputLabel for="pass" value="Contraseña" style="font-weight: bolder"/> 
                    <div class="ui-g-12">
                        <p:password id="pass" placeholder="Contraseña" 
                                    value="#{loginMB.login.contrasenia}" required="true" />
                    </div>

                    <div class="ui-g-12 button-container">
                        <p:commandButton icon="fa fa-user"   value="Acceder" action="#{loginMB.logincontrol()}" update="messages" />
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandLink   styleClass="turquoise-btn" value="Registrarse" 
                                         action="/registroUsuario.xhtml?faces-redirect=true"  
                                         />
                    </div>
                    <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />

                </div>
            </div>

            <p:ajaxStatus onstart="PF('dlgStatus').show()" oncomplete="PF('dlgStatus').hide()" />
            <p:dialog id="dlgStatus" widgetVar="dlgStatus" draggable="false"  closable="false" resizable="false" showHeader="false">
                <p:graphicImage name="images/preloader-blue.gif" library="poseidon-layout" />
            </p:dialog>


        </h:form>


    </h:body>

</html>