<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">

        </f:facet>
        <f:metadata>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:metadata>
        <title>Control Vehicular</title>

        <script type="text/javascript">
            //<![CDATA[
            function start() {
                PF('startButton1').disable();

                window['progress'] = setInterval(function () {
                    var pbClient = PF('pbClient'),
                            oldValue = pbClient.getValue(),
                            newValue = oldValue + 10;

                    pbClient.setValue(pbClient.getValue() + 10);

                    if (newValue === 100) {
                        clearInterval(window['progress']);
                    }


                }, 1000);
            }

            function cancel() {
                clearInterval(window['progress']);
                PF('pbClient').setValue(0);
                PF('startButton1').enable();
            }
            //]]>
        </script>

    </h:head>

    <h:body styleClass="login-body">
        <h:form id="frmLogin" prependId="false">
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 logo-container">
                        <p:graphicImage name="images/login/login-logo.png" library="poseidon-layout" width="100" height="100"/>
                    </div>

                    <p:growl id="messages" showDetail="true" />
                    <div class="ui-g-12">
                        <p:outputLabel for="us" value="Usuario (# Cédula))" />
                        <p:inputText type="number" id="us" value="#{loginMB.registro.nombreUsuario}"  required="true" maxlength="10"  />
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="nomb" value="Nombres Completos" />
                        <p:inputText id="nomb" value="#{loginMB.registro.nombresCompletos}"  required="true" style="text-transform: uppercase" />
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="pass" value="Contraseña"  /> 
                        <p:password id="pass" placeholder="Contraseña" 
                                    value="#{loginMB.registro.contrasenia}" 
                                    required="true"  />
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="tel" value="Teléfono" />
                        <p:inputText id="tel" value="#{loginMB.registro.telefono}"  required="true" style="text-transform: uppercase" />
                    </div>
                    <div class="ui-g-12">
                        <p:outputLabel for="c" value="Correo" />
                        <p:inputText id="c" value="#{loginMB.registro.correo}"  required="true"   />
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandButton value="Registrarse"  action="#{loginMB.crearUsuario()}" update="@form"/>
                    </div>
                    <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />

                </div>
            </div>
        </h:form>


    </h:body>

</html>