<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Ordenes</ui:define>
    <ui:define name="viewname">
        <li>Ordenes</li>    
        <li><p:link outcome="/configuraciones/inventario">Ordenes</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
            .red {
                background-color: red !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form  prependId="false" id="frmMain" >
            <p:growl id="msg" showDetail="true" globalOnly="true" showSummary="true" ><p:autoUpdate/></p:growl>
            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <p:panelGrid columns="3" layout="grid">
                                    <h:panelGroup>
                                        <p:fieldset legend="1.- Datos Emisor"
                                                    style="margin-bottom:20px;">
                                            <p:panelGrid id="pnlDatosEstablecimiento" columns="2" layout="grid"
                                                         styleClass="ui-panelgrid-blank form-group">
                                                <h:panelGroup layout="block"  style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Establecimiento:"/><br></br>
                                                    <p:selectOneMenu id="idEmpresa" 
                                                                     value="#{ordenMB.idEmpresa}">
                                                        <f:selectItem itemLabel="Seleccione"
                                                                      itemValue="#{null}"/>
                                                        <f:selectItems value="#{ordenMB.empresas}"
                                                                       var="emp"
                                                                       itemLabel="#{emp.nombreComercial}"
                                                                       itemValue="#{emp.id}"/>
                                                    </p:selectOneMenu> 
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Fecha de emisión:"/><br></br>
                                                    <p:inputText readonly="true"
                                                                 value="#{ordenMB.dato.fecha}"
                                                                 class="panelInput">
                                                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                                                    </p:inputText>
                                                </h:panelGroup>

                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Fecha de Inicio"/><br></br>
                                                    <p:calendar id="fechaInicio" 
                                                                value="#{ordenMB.fechaInicio}" 
                                                                placeholder="dd/MM/yyyy"
                                                                pattern="dd/MM/yyyy"/>
                                                </h:panelGroup>

                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Fecha de Entrega"/><br></br>
                                                    <p:calendar id="fechaEntrega" 
                                                                value="#{ordenMB.fechaEntrega}" 
                                                                placeholder="dd/MM/yyyy"
                                                                pattern="dd/MM/yyyy"/>
                                                </h:panelGroup>

                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Tipo de Orden:"/><br></br>
                                                    <p:selectOneMenu id="idTipo" 
                                                                     value="#{ordenMB.dato.tipo}">
                                                        <p:ajax update="idTipo" />
                                                        <f:selectItem itemLabel="Seleccione"
                                                                      itemValue="#{null}"/>
                                                        <f:selectItem itemLabel="PROFORMA"
                                                                      itemValue="PROFORMA"/>
                                                        <f:selectItem itemLabel="ORDEN DE PAGO"
                                                                      itemValue="ORDEN DE PAGO"/>

                                                    </p:selectOneMenu> 
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel value="Asignar a:"/><br></br>
                                                    <p:selectOneMenu id="idMecanico" 
                                                                     value="#{ordenMB.idMecanico}">
                                                        <f:selectItem itemLabel="Seleccione"
                                                                      itemValue="#{null}"/>
                                                        <f:selectItems value="#{ordenMB.mecanicos}"
                                                                       var="emp"
                                                                       itemLabel="#{emp.usuario}"
                                                                       itemValue="#{emp.id}"/>
                                                    </p:selectOneMenu> 
                                                </h:panelGroup>
                                            </p:panelGrid>   
                                            <h:panelGroup>
                                                <p:outputLabel for="observacion" value="Observación" /><br></br>
                                                <p:inputTextarea id="observacion" value="#{ordenMB.dato.observacion}"
                                                                 rows="4"  style="text-align: right"/>
                                            </h:panelGroup>
                                        </p:fieldset>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:fieldset legend="2.- Datos Propietario del Vehículo"
                                                    style="margin-bottom:20px;">
                                            <p:panelGrid id="pnlDatos" columns="1" layout="grid"
                                                         styleClass="ui-panelgrid-blank form-group">
                                                <h:panelGroup>
                                                    <p:outputLabel for="identificacion" value="Identificacion:"
                                                                   style="width: 100%"/>
                                                    <div class="ui-inputgroup">
                                                        <p:inputText id="identificacion" class="panelInput"
                                                                     readonly="false"
                                                                     value="#{ordenMB.identificacion}"/>
                                                        <p:commandButton title="Lista de Clientes"
                                                                         icon="fa fa-search"
                                                                         actionListener="#{ordenMB.buscarCliente()}"
                                                                         process="@this, identificacion"
                                                                         update="pnlDatos"
                                                                         styleClass="green-button button-group">
                                                        </p:commandButton>
                                                    </div>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel for="sujetoRetenido" value="Datos:"
                                                                   style="width: 100%;"/>
                                                    <p:inputText id="sujetoRetenido" class="panelInput"
                                                                 readonly="true"
                                                                 value="#{ordenMB.persona.primerNombreApellido}">
                                                    </p:inputText>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel for="direccion" value="Direccion"
                                                                   style="width: 100%;"/>
                                                    <p:inputText id="direccion" class="panelInput" 
                                                                 value="#{ordenMB.persona.direccion}">
                                                    </p:inputText>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel for="telefono" value="Télefono:"
                                                                   style="width: 100%;"/>
                                                    <p:inputText id="telefono" class="panelInput" 
                                                                 value="#{ordenMB.persona.telefono}">
                                                    </p:inputText>
                                                </h:panelGroup>
                                                <h:panelGroup layout="block" style="width: 100%;"
                                                              class="panelInput">
                                                    <p:outputLabel for="correo" value="Correo Electrónico:"
                                                                   style="width: 100%;"/>
                                                    <p:inputText id="correo" class="panelInput" 
                                                                 value="#{ordenMB.persona.correo}">
                                                    </p:inputText>
                                                </h:panelGroup>
                                            </p:panelGrid>
                                            <br></br>
                                        </p:fieldset>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:fieldset legend="3.- Datos del Vehiculo" >
                                            <p:panelGrid id="consultaDatos" columns="1" layout="grid">
                                                <h:panelGroup>
                                                    <p:outputLabel value="Placa *" for="placa" style="font-weight: bolder" /><br></br>
                                                    <div class="ui-inputgroup" style="margin-left: 10px">
                                                        <p:inputText placeholder="Placa" id="placa" 
                                                                     value="#{ordenMB.placa}"
                                                                     style="width: 90%; text-transform: uppercase"/>   
                                                        <p:commandButton icon="fa fa-search"
                                                                         process="@this, placa"
                                                                         actionListener="#{ordenMB.consultarVehiculo()}"
                                                                         update="consultaDatos"/> 
                                                    </div>
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <p:outputLabel value="Modelo *" for="modelo" style="font-weight: bolder" /><br></br>
                                                    <p:inputText placeholder="Modelo" id="modelo" 
                                                                 value="#{ordenMB.datosVehiculo.modelo}"
                                                                 style="margin-left: 10px; width: 95%"/>    
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <p:outputLabel value="Marca *" for="marca" style="font-weight: bolder" /><br></br>
                                                    <p:inputText placeholder="Marca" id="marca" 
                                                                 value="#{ordenMB.datosVehiculo.marca}"
                                                                 style="margin-left: 10px; width: 95%"/>    
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <p:outputLabel value="Motor" for="motor" style="font-weight: bolder" /><br></br>
                                                    <p:inputText placeholder="chasis" id="motor"  
                                                                 value="#{ordenMB.datosVehiculo.motor}"
                                                                 style="margin-left: 10px; width: 95%"/>    
                                                </h:panelGroup>
                                                <h:panelGroup>
                                                    <p:outputLabel value="Chasis" for="chasis" style="font-weight: bolder" /><br></br>
                                                    <p:inputText placeholder="Chasis" id="chasis" 
                                                                 value="#{ordenMB.datosVehiculo.chasis}"
                                                                 style="margin-left: 10px; width: 95%"/>    
                                                </h:panelGroup>

                                            </p:panelGrid>
                                        </p:fieldset>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <p:fieldset id="fldDetalle" legend="Detalle de Orden"
                                            style="margin-bottom:20px; ;">

                                    <p:panelGrid id="pnlRubros" columns="2" layout="grid"
                                                 >
                                        <h:panelGroup id="pgRubros">
                                            <p:dataTable id="rubrosFactura" var="rubro" 
                                                         selection="#{ordenMB.categoria}"
                                                         rowKey="#{rubro.id}"
                                                         rows="10" 
                                                         paginator="true"
                                                         rowsPerPageTemplate="10,50,100" 
                                                         paginatorPosition="bottom"
                                                         filterEvent="enter"
                                                         value="#{ordenMB.categorias}">
                                                <f:facet name="header">
                                                    Productos Disponibles
                                                </f:facet>

                                                <p:ajax event="rowSelectRadio"
                                                        listener="#{ordenMB.selectRubro()}"
                                                        update="frmItem, rubrosFactura"/>
                                                <p:column headerText="*" 
                                                          width="30"
                                                          selectionMode="single"></p:column>
                                                <p:column headerText="Producto" 
                                                          filterBy="#{rubro.producto}">
                                                    #{rubro.producto}
                                                </p:column>
                                                <p:column headerText="Cantidad Disponible">
                                                    <center>
                                                        #{rubro.cantidadDiponible}
                                                    </center>
                                                </p:column>
                                                <p:column headerText="Valor" 
                                                          width="60"
                                                          style="text-align: right !important">
                                                    <p:outputLabel value="#{rubro.valor}" />
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                        <h:panelGroup id="pgRubrosSeleccionados">
                                            <p:dataTable id="dtRubrosSeleccionados" value="#{ordenMB.detalles}"
                                                         var="detalle" 
                                                         rowIndexVar="i"
                                                         emptyMessage="No existen Rubros Seleccionados">
                                                <f:facet name="header">
                                                    Productos Seleccionados
                                                </f:facet>
                                                <p:column headerText="Producto" >
                                                    #{detalle.categoria.producto}
                                                </p:column>
                                                <p:column headerText="Cantidad" >
                                                    <div align="center">
                                                        #{detalle.cantidad}
                                                    </div>
                                                </p:column>
                                                <p:column headerText="Valor Unitario" 
                                                          width="50"
                                                          style="text-align: right !important">
                                                    <p:outputLabel value="#{detalle.categoria.valor}" />
                                                </p:column>

                                                <p:column headerText="Acción" width="40" >
                                                    <div align="center">
                                                        <p:commandLink title="Eliminar" 
                                                                       process="@this"
                                                                       actionListener="#{ordenMB.removerDetalle(i)}"
                                                                       update="dtRubrosSeleccionados, pnlValores">
                                                            <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                        </p:commandLink>    
                                                    </div>
                                                </p:column>
                                            </p:dataTable>
                                            <div align="right">
                                                <p:panelGrid id="pnlValores" columns="2" style="margin: 20px"
                                                             styleClass="ui-panelgrid-blank form-group">

                                                    <h:panelGroup>
                                                        <p:outputLabel value="Valor a pagar:"/>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <p:outputLabel value="#{ordenMB.totalPago}" style="text-align: right !important" />
                                                    </h:panelGroup>
                                                </p:panelGrid>

                                            </div>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                </p:fieldset>

                                <div align="center">
                                    <p:commandButton id="btnGuardarFactura"
                                                     value="Generar Orden"
                                                     actionListener="#{ordenMB.guardar()}"
                                                     style="width: 20%"
                                                     update="@form"
                                                     icon="fa fa-save"/>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 

        </h:form>

        <p:dialog widgetVar="dlgRubroValor" id="dlgRubroValor" closable="true" modal="true"
                  width="500"
                  closeOnEscape="true" showHeader="false">

            <h:form id="frmItem" prependId="false">
                <div align="center">
                    <p:outputLabel value="#{ordenMB.ordenDetalle.categoria.producto}" 
                                   style="font-weight: bolder; font-size: 14px"/>
                </div>
                <br></br>
                <p:panelGrid columns="2" id="itemDetalle"
                             style="font-weight: bolder"
                             layout="grid" styleClass="ui-panelgrid-blank form-group"  >

                    <h:panelGroup>
                        <p:outputLabel value="Cantidad:" />
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:inputText value="#{ordenMB.ordenDetalle.cantidad}" 
                                     style="text-align: right; margin-right: 15px">
                            <p:ajax listener="#{ordenMB.calcularRubro()}" update="itemDetalle"/>
                        </p:inputText>    
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:outputLabel value="Valor Unitario:" />    
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:inputText readonly="true" 
                                     value="#{ordenMB.ordenDetalle.categoria.valor}"
                                     style="text-align: right; margin-right: 15px"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:outputLabel value="Valor Total:" />
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:inputText value="#{ordenMB.ordenDetalle.valor}"
                                     readonly="true"
                                     style="text-align: right; margin-right: 15px"/>
                    </h:panelGroup>
                </p:panelGrid>
                <div align="center">
                    <p:panelGrid columns="2"  
                                 style="font-weight: bolder"
                                 layout="grid" styleClass="ui-panelgrid-blank form-group"  >
                        <p:commandButton
                            value="Aceptar"
                            icon="fa fa-check"
                            actionListener="#{ordenMB.agregarDetalle()}" 
                            oncomplete="PF('dlgRubroValor').hide()"
                            update="dtRubrosSeleccionados,  pnlValores, rubrosFactura"
                            />
                        <p:commandButton
                            value="Cancelar"
                            icon="fa fa-close"
                            oncomplete="PF('dlgRubroValor').hide()" />
                    </p:panelGrid>
                </div>
            </h:form>
        </p:dialog>


    </ui:define>

</ui:composition>
