<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Ordenes</ui:define>
    <ui:define name="viewname">
        <li>Ordenes</li>    
        <li><p:link outcome="/ordenes/ordenesGeneradas">Ordenes</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
            .red {
                background-color: red !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form  id="frmMain" >

            <div class="p-grid ui-fluid">


                <div class="p-col-12 p-lg-12">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Ordenes Registradas</h1>
                                <p:dataTable id="dtDatos" value="#{ordenMB.datos}" 
                                             var="dato"
                                             editable="true" 
                                             editMode="cell" 
                                             widgetVar="dtDatos"
                                             rowIndexVar="i"
                                             rows="10" 
                                             paginator="true"
                                             rowsPerPageTemplate="10,50,100" 
                                             paginatorPosition="bottom"
                                             filterEvent="enter" 
                                             style="font-size: 10px">
                                    <p:ajax event="cellEdit" listener="#{ordenMB.onCellEdit}" update="dtDatos" />
                                    <p:column headerText="# Orden" width="70" 
                                              filterBy="#{dato.numeroOrden}" filterMatchMode="contains">
                                        <center>
                                            <p:outputLabel value="#{dato.numeroOrden}" style="font-size: 10px"/>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Sucursal" width="90" >
                                        <p:outputLabel value="#{dato.empresa.nombreComercial}" style="font-size: 10px" />
                                    </p:column> 
                                    <p:column headerText="Asignado" width="100" filterBy="#{dato.mecanico.usuario}"  >
                                        <p:outputLabel value="#{dato.mecanico.usuario}" style="font-size: 10px" />
                                    </p:column>
                                    <p:column headerText="Solicitud" width="100" >
                                        <p:outputLabel value="#{dato.tipo}" style="font-size: 10px" />
                                    </p:column>
                                    <p:column headerText="Cliente"
                                              filterBy="#{dato.persona.identificacion}"
                                              filterMatchMode="contains">
                                        <p:outputLabel value="#{dato.persona.identificacion} - #{dato.persona.primerNombreApellido}" 
                                                       style="font-size: 10px"/>
                                    </p:column>
                                    <p:column headerText="Fecha Ingreso" width="100" >
                                        <center>
                                            <p:outputLabel value="#{dato.fecha}" style="font-size: 10px">
                                                <f:convertDateTime parent="dd-MM-yyy HH:mm:ss" />
                                            </p:outputLabel>
                                        </center>
                                    </p:column>
                                    <p:column headerText="Fecha Inicio / Entrega" width="100" >
                                        <center>
                                            <p:outputLabel value="#{dato.fechaI}" style="font-size: 10px">
                                                <f:convertDateTime parent="dd-MM-yyy HH:mm:ss" />
                                            </p:outputLabel>
                                            /
                                            <p:outputLabel value="#{dato.fechaE}" style="font-size: 10px">
                                                <f:convertDateTime parent="dd-MM-yyy HH:mm:ss" />
                                            </p:outputLabel>
                                        </center>
                                    </p:column>

                                    <p:column headerText="Total" width="70" >
                                        <p:outputLabel value="#{dato.totalOrden}" style="font-size: 10px" />
                                    </p:column>
                                    <p:column headerText="Avance" width="150" 
                                              filterBy="#{dato.avance}"
                                              filterMatchMode="contains" >
                                        <f:facet name="filter">
                                            <p:selectOneMenu onchange="PF('dtDatos').filter()" 
                                                             styleClass="custom-filter" style="width: 100%">
                                                <f:selectItem itemLabel="SELECCIONE" itemValue="#{null}" noSelectionOption="true" />
                                                <f:selectItem itemLabel="INICIADO" itemValue="INICIADO" />
                                                <f:selectItem itemLabel="REALIZANDO" itemValue="REALIZANDO" />
                                                <f:selectItem itemLabel="FINALIZADO" itemValue="FINALIZADO" />
                                                <f:selectItem itemLabel="SIN-SOLUCION" itemValue="SIN-SOLUCION" />

                                            </p:selectOneMenu>
                                        </f:facet>
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <center>
                                                    <h:outputText value="#{dato.avance}"
                                                                  style="font-size: 10px" />
                                                </center>
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:selectOneMenu value="#{dato.avance}" style="font-size: 10px">
                                                    <f:selectItem itemLabel="INICIADO" itemValue="INICIADO" />
                                                    <f:selectItem itemLabel="REALIZANDO" itemValue="REALIZANDO" />
                                                    <f:selectItem itemLabel="FINALIZADO" itemValue="FINALIZADO" />
                                                    <f:selectItem itemLabel="SIN-SOLUCION" itemValue="SIN-SOLUCION" />
                                                </p:selectOneMenu>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="Acciones" width="100">
                                        <div align="center">
                                            <p:commandButton title="Ver Orden"
                                                             icon="fa fa-info"
                                                             oncomplete="PF('dlgOrden').show();"
                                                             update="frmOrden"
                                                             actionListener="#{ordenMB.loadOrdenInfo(dato)}">
                                            </p:commandButton> 
                                            <p:spacer width="5" />
                                            <p:commandButton title="Imprimir Orden"
                                                             icon="fa fa-file-pdf-o"
                                                             actionListener="#{ordenMB.generarReporteOrdenPago(dato)}">
                                            </p:commandButton> 
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 

        </h:form>

        <p:dialog showHeader="false" widgetVar="dlgOrden"
                  showEffect="explode" modal="true" height="450" width="950">
            <br></br>
            <h:form id="frmOrden">

                <p:panelGrid columns="3" layout="grid" style="font-size: 10px">
                    <h:panelGroup>
                        <p:fieldset legend="1.- Datos Emisor"
                                    style="margin-bottom:20px;  font-size: 10px !important">
                            <h:panelGrid id="pnlDatosEstablecimiento" columns="2" 
                                         style="font-size: 10px !important">
                                <h:panelGroup style="width: 100%; ">
                                    <p:outputLabel value="Establecimiento:" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText value="#{ordenMB.ordenInfo.empresa.razonSocial}" style="font-size: 10px !important" readonly="true"/>
                                </h:panelGroup>
                                <h:panelGroup style="font-size: 10px !important">
                                    <p:outputLabel value="Fecha de emisión:" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText readonly="true"
                                                 value="#{ordenMB.ordenInfo.fecha}"
                                                 style="font-size: 10px !important">
                                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                                    </p:inputText>
                                </h:panelGroup>

                                <h:panelGroup  >
                                    <p:outputLabel value="Fecha de Inicio" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText readonly="true"
                                                 value="#{ordenMB.ordenInfo.fechaI}"
                                                 style="font-size: 10px !important">
                                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                                    </p:inputText>
                                </h:panelGroup>

                                <h:panelGroup >
                                    <p:outputLabel value="Fecha de Entrega" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText readonly="true"
                                                 value="#{ordenMB.ordenInfo.fechaE}"
                                                 style="font-size: 10px !important">
                                        <f:convertDateTime pattern="dd-MM-yyyy"/>
                                    </p:inputText>
                                </h:panelGroup>

                                <h:panelGroup >
                                    <p:outputLabel value="Tipo de Orden:" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText value="#{ordenMB.ordenInfo.tipo}" style="font-size: 10px !important" readonly="true"/>
                                </h:panelGroup>
                                <h:panelGroup >
                                    <p:outputLabel value="Asignado:" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText value="#{ordenMB.ordenInfo.asignado}" style="font-size: 10px !important" readonly="true"/>
                                </h:panelGroup>
                            </h:panelGrid>   
                            <h:panelGroup>
                                <p:outputLabel for="observacion" value="Observación" style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                <p:inputText  readonly="true" id="observacion" value="#{ordenMB.ordenInfo.observacion}" 
                                              size="45"
                                              style="font-size: 10px !important"/>
                            </h:panelGroup>
                        </p:fieldset>
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:fieldset legend="2.- Datos Propietario del Vehículo"
                                    style="margin-bottom:20px; font-size: 10px !important">
                            <h:panelGrid id="pnlDatos" columns="2">
                                <h:panelGroup>
                                    <p:outputLabel for="identificacion" value="Identificacion:"
                                                   style="font-weight: bolder; width: 100%; font-size: 10px !important"/><br></br>

                                    <p:inputText id="identificacion" 
                                                 style="font-size: 10px !important"
                                                 readonly="true"
                                                 value="#{ordenMB.ordenInfo.persona.identificacion}"/>


                                </h:panelGroup>
                                <h:panelGroup >
                                    <p:outputLabel for="sujetoRetenido" value="Datos:"
                                                   style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText id="sujetoRetenido" style="font-size: 10px !important"
                                                 readonly="true"
                                                 value="#{ordenMB.ordenInfo.persona.primerNombreApellido}">
                                    </p:inputText>
                                </h:panelGroup>
                                <h:panelGroup  >
                                    <p:outputLabel for="direccion" value="Direccion"
                                                   style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText id="direccion" style="font-size: 10px !important" readonly="true"
                                                 value="#{ordenMB.ordenInfo.persona.direccion}">
                                    </p:inputText>
                                </h:panelGroup>
                                <h:panelGroup  >
                                    <p:outputLabel for="telefono" value="Télefono:"
                                                   style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText id="telefono" style="font-size: 10px !important" readonly="true"
                                                 value="#{ordenMB.ordenInfo.persona.telefono}">
                                    </p:inputText>
                                </h:panelGroup>
                                <h:panelGroup >
                                    <p:outputLabel for="correo" value="Correo Electrónico:"
                                                   style="font-weight: bolder; font-size: 10px !important"/><br></br>
                                    <p:inputText id="correo"  style="font-size: 10px !important" readonly="true"
                                                 value="#{ordenMB.ordenInfo.persona.correo}">
                                    </p:inputText>
                                </h:panelGroup>
                            </h:panelGrid>
                            <br></br>
                            <br></br>
                        </p:fieldset>
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:fieldset legend="3.- Datos del Vehiculo" style="font-size: 10px !important">
                            <h:panelGrid id="consultaDatos" columns="2" >
                                <h:panelGroup>
                                    <p:outputLabel value="Placa *" for="placa" style="font-weight: bolder; font-size: 10px !important" /><br></br>
                                    <div class="ui-inputgroup" style="margin-left: 10px">
                                        <p:inputText placeholder="Placa" id="placa" readonly="true"
                                                     value="#{ordenMB.ordenInfo.datosVehiculo.placa}"
                                                     style="width: 90%; text-transform: uppercase;  font-size: 10px !important"/>   
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <p:outputLabel value="Modelo *" for="modelo" style="font-weight: bolder; font-size: 10px !important" /><br></br>
                                    <p:inputText placeholder="Modelo" id="modelo"  readonly="true"
                                                 value="#{ordenMB.ordenInfo.datosVehiculo.modelo}"
                                                 style="margin-left: 10px; width: 95%; font-size: 10px !important"/>    
                                </h:panelGroup>
                                <h:panelGroup>
                                    <p:outputLabel value="Marca *" for="marca" style="font-weight: bolder; font-size: 10px !important" /><br></br>
                                    <p:inputText placeholder="Marca" id="marca"  readonly="true"
                                                 value="#{ordenMB.ordenInfo.datosVehiculo.marca}"
                                                 style="margin-left: 10px; width: 95%; font-size: 10px !important"/>    
                                </h:panelGroup>
                                <h:panelGroup>
                                    <p:outputLabel value="Motor" for="motor" style="font-weight: bolder; font-size: 10px !important" /><br></br>
                                    <p:inputText placeholder="chasis" id="motor"   readonly="true"
                                                 value="#{ordenMB.ordenInfo.datosVehiculo.motor}"
                                                 style="margin-left: 10px; width: 95%; font-size: 10px !important"/>    
                                </h:panelGroup>
                                <h:panelGroup>
                                    <p:outputLabel value="Chasis" for="chasis" style="font-weight: bolder; font-size: 10px !important" /><br></br>
                                    <p:inputText placeholder="Chasis" id="chasis"  readonly="true"
                                                 value="#{ordenMB.ordenInfo.datosVehiculo.chasis}"
                                                 style="margin-left: 10px; width: 95%; font-size: 10px !important"/>    
                                </h:panelGroup>
                            </h:panelGrid>
                            <br></br>
                            <br></br>
                        </p:fieldset>
                    </h:panelGroup>
                </p:panelGrid>
                <h:panelGroup id="pgRubrosSeleccionados">
                    <center>
                        <p:dataTable id="dtRubrosSeleccionados" value="#{ordenMB.ordenInfo.ordenDetalles}"
                                     var="detalle" 
                                     style="font-size: 10px; width: 50%"
                                     rowIndexVar="i"
                                     emptyMessage="No existen Rubros Seleccionados">
                            <f:facet name="header">
                                Productos 
                            </f:facet>
                            <p:column headerText="Producto" >
                                #{detalle.categoria.producto}
                            </p:column>
                            <p:column headerText="Cantidad" >
                                <div align="center">
                                    #{detalle.cantidad}
                                </div>
                            </p:column>
                            <p:column headerText="Valor Unitario" >
                                <p:outputLabel value="#{detalle.categoria.valor}" style="font-size: 10px;" />
                            </p:column>

                        </p:dataTable>
                        <br/>
                        <br/>
                        <p:commandButton value="Aceptar" oncomplete="PF('dlgOrden').hide();" />
                    </center>
                </h:panelGroup>

            </h:form>
        </p:dialog>


    </ui:define>

</ui:composition>
