<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
        </f:facet>
        <title><ui:insert name="title">Parqueos Disponibles</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body styleClass="main-body">

        <div class="layout-wrapper #{guestPreferences.menuLayout} #{guestPreferences.orientationRTL ? 'layout-rtl' : null}">
            <ui:include src="/WEB-INF/topbar.xhtml" />
            <ui:include src="/WEB-INF/menu.xhtml" /> 
            <p:messages   showDetail="true" closable="true"/>
            <div class="layout-main">
                <i class="fa fa-home"></i> 
                <ui:insert name="viewname" />              
                <div class="layout-main-content">
                    <h:form id="frmInit">
                        <style>
                            .ui-datatable.borderless thead th,
                            .ui-datatable.borderless tbody,
                            .ui-datatable.borderless tbody tr,
                            .ui-datatable.borderless tbody td {
                                border-style: none;

                            }
                        </style>
                        <div class="card card-w-title">
                            <p:messages   showDetail="true" closable="true"/>
                            <p:poll id="pol" interval="60" 
                                    process="@this"
                                    listener="#{controlVehicularMB.loadData()}" 
                                    update="frmInit:datos"
                                    />
                            <br></br><br></br>
                            <center>
                                <b><h3>Parqueos UG</h3></b>
                            </center>
                            <p:dataGrid var="parqueo" style="width: 100%" value="#{controlVehicularMB.parqueos}" 
                                        columns="8" 
                                        rowIndexVar="i"
                                        rows="25"  id="datos">
                                <center>
                                    <p:panel header="#{i + 1}"
                                             style="text-align:center !important; font-weight: bolder; margin: 5px">
                                        <center>
                                            <h:panelGrid columns="1" >
                                                <p:graphicImage name="images/disponible.png" 
                                                                library="poseidon-layout"
                                                                width="30" height="30"
                                                                rendered="#{parqueo eq 'DISPONIBLE'}"/> 
                                                <p:graphicImage name="images/ocupado.jpg"
                                                                library="poseidon-layout"
                                                                width="30" height="30"
                                                                rendered="#{parqueo eq 'OCUPADO'}"/> 
                                            </h:panelGrid>
                                        </center>
                                    </p:panel>
                                </center>
                            </p:dataGrid>
                        </div>
                    </h:form>



                </div>

                <ui:include src="/WEB-INF/footer.xhtml" />
            </div>
        </div>

        <h:outputStylesheet name="css/nanoscroller.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>