<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Tipo de Categoría</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/categoriaTipo">Tipo de Categoría</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-5">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Datos de Tipo de Categoría</h1>
                                <p:panelGrid columns="2" layout="grid" style="font-weight: bolder">
                                    <h:panelGroup>
                                        <p:outputLabel for="codigo" value="Codigo" /><br></br>
                                        <p:inputText id="codigo" required="true"
                                                     value="#{categoriaTipoMB.categoriaTipo.codigo}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="descripcion" value="Descripcion" /><br></br>
                                        <p:inputText id="descripcion" required="true"
                                                     value="#{categoriaTipoMB.categoriaTipo.descripcion}" />
                                    </h:panelGroup>
                                    

                                </p:panelGrid>
                                <br></br>
                                <div align="center">
                                    <p:commandButton value="Grabar"
                                                     styleClass="rounded-btn"
                                                     icon="fa fa-save"
                                                     style="width: 40%"
                                                     update="@form"
                                                     actionListener="#{categoriaTipoMB.guardar()}" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="p-col-12 p-lg-7">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Tipos de Categorias Registradas</h1>
                                <p:dataTable id="dtCategoriaTipo" var="categoriaTipo" 
                                             value="#{categoriaTipoMB.categoriaTipos}"                             
                                             reflow="true" selectionMode="single" 
                                             rowKey="#{categoriaTipo.id}">

                                    <p:column headerText="Codigo" >
                                        <h:outputText value="#{categoriaTipo.codigo}" />
                                    </p:column>
                                    <p:column headerText="Descripcion">
                                        <h:outputText value="#{categoriaTipo.descripcion}" />
                                    </p:column>
                                    

                                    <p:column headerText="Acciones">
                                        <div align="center">
                                            <p:commandLink title="Editar Datos"
                                                           actionListener="#{categoriaTipoMB.editar(categoriaTipo)}"
                                                           update="@form"
                                                           process="@this">
                                                <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                            </p:commandLink> 
                                            <p:spacer width="10" />
                                            <p:commandLink title="Eliminar" update="dtCategoriaTipo">
                                                <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                <p:confirm header="Confirmación de eliminación"
                                                           message="Esta seguro de eliminar el Tipo de Categoria?"
                                                           icon="fa fa-exclamation-triangle" />
                                            </p:commandLink>  
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </h:form>
    </ui:define>

</ui:composition>
