<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">EMOT - Categorías</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/categorias">Categorías</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
            .red {
                background-color: red !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="frmMain" >

            <div class="p-grid ui-fluid">
                <div class="p-col-12">
                    <div class="card card-w-title">
                        <h1>Categorías Registradas</h1>
                        <p:dataTable id="dtCategorias" value="#{categoriaMB.categorias}" 
                                     var="categoria"
                                     reflow="true"    >

                            <p:column headerText="Tipo" width="70">
                                <div align="center">
                                    <p:outputLabel value="#{categoria.tipo}" />
                                </div>
                            </p:column>
                            <p:column headerText="Categoría">
                                <p:outputLabel value="#{categoria.abreviatura} - #{categoria.producto}" />
                            </p:column>

                            <p:column headerText="Acciones" width="100">
                                <div align="center">
                                    <p:commandLink title="Editar Datos"
                                                   process="@this"
                                                   update="@form"
                                                   actionListener="#{categoriaMB.loadCategoria(categoria)}">
                                        <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                    </p:commandLink> 
                                    <p:spacer width="5" />
                                    <p:commandLink title="Eliminar" 
                                                   process="@this"
                                                   update="@form"
                                                   actionListener="#{categoriaMB.eliminarCategoria(categoria)}">
                                        <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                        <p:confirm header="Confirmación de eliminación" 
                                                   message="Esta seguro de eliminar una categoria" 
                                                   icon="fa fa-exclamation-triangle" />
                                    </p:commandLink>  
                                </div>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 

            <div class="p-grid ui-fluid">
                <div class="p-col-12">
                    <div class="card card-w-title">
                        <h1>Datos de Categoría</h1>
                        <p:panelGrid id="pnlDatosCategoria" columns="4" layout="grid" >
                            <h:panelGroup>
                                <p:outputLabel for="idCategoriaTipo" value="Tipo" /><br></br>
                                <p:selectOneMenu id="idCategoriaTipo" required="true"
                                                 value="#{categoriaMB.idCategoriaTipo}">
                                    <f:selectItem itemLabel="Seleccione"
                                                  itemValue="#{null}"/>
                                    <f:selectItems value="#{categoriaMB.categoriaTipos}"
                                                   var="tipo"
                                                   itemLabel="#{tipo.descripcion}"
                                                   itemValue="#{tipo.id}"/>
                                </p:selectOneMenu><br></br>
                                <p:outputLabel for="abreviatura" value="Abreviatura" /> <br></br>
                                <p:inputText id="abreviatura" value="#{categoriaMB.categoria.abreviatura}" 
                                             required="true" 
                                             style="text-transform: uppercase; text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="descripcion" value="Producto" /><br></br>
                                <p:inputTextarea id="descripcion" value="#{categoriaMB.categoria.producto}" 
                                                 rows="4" required="true" style="text-transform: uppercase; text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="descripcionBreve" value="Descipcion Detallada" /><br></br>
                                <p:inputTextarea id="descripcionBreve" value="#{categoriaMB.categoria.descripcionBreve}"
                                                 rows="4" required="true" style="text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="marca" value="Marca" /><br></br>
                                <p:inputText id="marca" value="#{categoriaMB.categoria.marca}" required="true" style="text-align: right"/> <br/>
                                 <p:outputLabel for="valor" value="Valor" /><br></br>
                                <p:inputText id="valor" value="#{categoriaMB.categoria.valor}" required="true" style="text-align: right"/> 
                            </h:panelGroup>
                        </p:panelGrid>


                        <br></br>
                        <div align="center">
                            <br></br>
                            <p:commandButton value="#{categoriaMB.editar eq false ? 'Guardar' : 'Actualizar'}" 
                                             update="@form"
                                             icon="fa fa-save"
                                             style="width: 20%" actionListener="#{categoriaMB.guardarCategoria()}"/>
                        </div>
                    </div>
                </div>
            </div>

        </h:form>
    </ui:define>

</ui:composition>
