<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Clientes</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/clientes">Clientes</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="mainForm">
            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-5">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Datos de Clientes</h1>
                                <p:panelGrid columns="2" layout="grid" style="font-weight: bolder">
                                    <h:panelGroup>
                                        <p:outputLabel value="Identificación" for="identificacion" style="font-weight: bolder" /><br></br>
                                        <div class="ui-inputgroup" style="margin-left: 10px">
                                            <p:inputText id="identificacion" required="true"
                                                         value="#{personaMB.identificacion}"
                                                         readonly="#{personaMB.editar}"
                                                         placeholder="Identificación" style="width: 90%" />        
                                            <p:commandButton icon="fa fa-search" 
                                                             disabled="#{personaMB.editar}"
                                                             actionListener="#{personaMB.consultar()}" update="@form"
                                                             process="@this, identificacion"/> 
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel value="Datos" for="datos" style="font-weight: bolder" /><br></br>
                                        <p:inputText placeholder="Datos" id="datos" required="true"
                                                     readonly="true"
                                                     value="#{personaMB.dato.apellidos} #{personaMB.dato.nombres}" 
                                                     style="margin-left: 10px; width: 95%"/>    
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel value="Dirección" for="direccion" style="font-weight: bolder" /><br></br>
                                        <p:inputText placeholder="Dirección" id="direccion" required="true"
                                                     value="#{personaMB.dato.direccion}"
                                                     style="margin-left: 10px; width: 95%"/>    
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel value="Telefono" for="telefono" style="font-weight: bolder" /><br></br>
                                        <p:inputText placeholder="Telefono" id="telefono" required="true"
                                                     value="#{personaMB.dato.telefono}"
                                                     style="margin-left: 10px; width: 95%"/>    
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel value="Correo Electrónico" for="correo" style="font-weight: bolder" /><br></br>
                                        <p:inputText placeholder="Correo" id="correo" required="true"
                                                     value="#{personaMB.dato.correo}"
                                                     style="margin-left: 10px; width: 95%"/>    
                                    </h:panelGroup>


                                </p:panelGrid>
                                <br></br>
                                <div align="center">
                                    <p:commandButton value="#{personaMB.editar eq false ? 'Guardar' : 'Actualizar'}" 
                                                     update="@form"
                                                     icon="fa fa-save"
                                                     style="width: 20%" actionListener="#{personaMB.guardar()}"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="p-col-12 p-lg-7">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Clientes Registrados</h1>
                                <p:dataTable id="dtDatos" var="dato" 
                                             value="#{personaMB.datos}"
                                             reflow="true" selectionMode="single" 
                                             rowKey="#{dato.id}">

                                    <p:column headerText="Identificacion" >
                                        <h:outputText  value="#{dato.identificacion}"  />
                                    </p:column>
                                    <p:column headerText="Datos">
                                        <h:outputText  value="#{dato.apellidos} #{dato.nombres}"  />
                                    </p:column>
                                    <p:column headerText="Direccion">
                                        <h:outputText value="#{dato.direccion}" />
                                    </p:column>
                                    <p:column headerText="Telefono">
                                        <h:outputText value="#{dato.telefono}" />
                                    </p:column>


                                    <p:column headerText="Acciones">
                                        <div align="center">
                                            <p:commandLink title="Editar Datos"
                                                           actionListener="#{personaMB.loadDato(dato)}"
                                                           update="@form"
                                                           process="@this">
                                                <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                            </p:commandLink> 
                                            <p:spacer width="10" />
                                            <p:commandLink title="Eliminar" update="dtDatos">
                                                <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                <p:confirm header="Confirmación de eliminación"
                                                           message="Esta seguro de eliminar Persona?"
                                                           icon="fa fa-exclamation-triangle" />
                                            </p:commandLink>  
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </h:form>
    </ui:define>

</ui:composition>
