<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Sucursales</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/empresa">Sucursales</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-5">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Datos de Sucursal</h1>
                                <p:panelGrid columns="2" layout="grid" style="font-weight: bolder">
                                    <h:panelGroup>
                                        <p:outputLabel for="ruc" value="R.U.C." /><br></br>
                                        <p:inputText id="ruc" required="true"
                                                     value="#{empresaMB.dato.ruc}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="razonSocial" value="Razon Social" /><br></br>
                                        <p:inputText id="razonSocial" required="true"
                                                     value="#{empresaMB.dato.razonSocial}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="nombreComercial" value="Nombre Comercial" /><br></br>
                                        <p:inputText id="nombreComercial" required="true"
                                                     value="#{empresaMB.dato.nombreComercial}" />
                                    </h:panelGroup>
                                     <h:panelGroup>
                                        <p:outputLabel for="direccion" value="Direccion" /><br></br>
                                        <p:inputText id="direccion" required="true"
                                                     value="#{empresaMB.dato.direccion}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="telefono" value="Telefono" /><br></br>
                                        <p:inputText id="telefono" required="true"
                                                     value="#{empresaMB.dato.telefono}" />
                                    </h:panelGroup>
                                </p:panelGrid>
                                <br></br>
                                <div align="center">
                                    <p:commandButton value="Grabar"
                                                     styleClass="rounded-btn"
                                                     icon="fa fa-save"
                                                     style="width: 40%"
                                                     update="@form"
                                                     actionListener="#{empresaMB.guardar()}" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="p-col-12 p-lg-7">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Sucursales Registradas</h1>
                                <p:dataTable id="dtDatos" var="dato" 
                                             value="#{empresaMB.datos}"
                                             reflow="true" selectionMode="single" 
                                             rowKey="#{dato.id}">

                                    <p:column headerText="RUC" >
                                        <h:outputText value="#{dato.ruc}" />
                                    </p:column>
                                    <p:column headerText="Razon Social">
                                        <h:outputText value="#{dato.razonSocial}" />
                                    </p:column>
                                    <p:column headerText="Nombre Comercial">
                                        <h:outputText value="#{dato.nombreComercial}" />
                                    </p:column>
                                    <p:column headerText="Direccion">
                                        <h:outputText value="#{dato.direccion}" />
                                    </p:column>
                                    <p:column headerText="Telefono">
                                        <h:outputText value="#{dato.telefono}" />
                                    </p:column>
                                    

                                    <p:column headerText="Acciones">
                                        <div align="center">
                                            <p:commandLink title="Editar Datos"
                                                           actionListener="#{empresaMB.loadDato(dato)}"
                                                           update="@form"
                                                           process="@this">
                                                <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                            </p:commandLink> 
                                            <p:spacer width="10" />
                                            <p:commandLink title="Eliminar" update="dtDatos">
                                                <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                <p:confirm header="Confirmación de eliminación"
                                                           message="Esta seguro de eliminar Sucursal?"
                                                           icon="fa fa-exclamation-triangle" />
                                            </p:commandLink>  
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </h:form>
    </ui:define>

</ui:composition>
