<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Empresa</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/empresa">Empresa</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
            .red {
                background-color: red !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="frmMain" >
            <div class="p-grid ui-fluid">
                <div class="p-col-12">
                    <div class="card card-w-title">
                        <h1>Empresas</h1>
                        <p:dataTable id="dtEmpresas" value="#{empresaMB.datos}" 
                                     var="empresa"
                                     reflow="true"    >
                            <p:column headerText="Ruc" width="120">
                                <p:outputLabel value="#{empresa.ruc}" />
                            </p:column>
                            <p:column headerText="Nombre Comercial" width="175">
                                <p:outputLabel value="#{empresa.nombreComercial}"/>
                            </p:column>
                            <p:column headerText="Razón Social" width="175">
                                <p:outputLabel value="#{empresa.razonSocial}"/>
                            </p:column>
                            <p:column headerText="Actividad Económica" width="175">
                                <p:outputLabel value="#{empresa.actividadEconomica}"/>
                            </p:column>
                            <p:column headerText="Teléfono" width="175">
                                <p:outputLabel value="#{empresa.telefono}" />
                            </p:column>
                            <p:column headerText="Correo" width="230">
                                <p:outputLabel value="#{empresa.correo}" />
                            </p:column>
                            <p:column headerText="Acciones" width="100">
                                <div align="center">
                                    <p:commandLink title="Editar Datos"
                                                   process="@this"
                                                   update="@form"
                                                   actionListener="#{empresaMB.loadDato(empresa)}">
                                        <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                    </p:commandLink> 
                                </div>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 

            <div class="p-grid ui-fluid">
                <div class="p-col-12">
                    <div class="card card-w-title">
                        <h1>Datos de Empresa</h1>
                        <p:panelGrid id="pnlDatosEmpresa" columns="4" layout="grid" >
                            <h:panelGroup>
                                <p:outputLabel for="ruc" value="Ruc" /> <br></br>
                                <p:inputText id="ruc" value="#{empresaMB.dato.ruc}" 
                                             required="true" 
                                             style="text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="nombreComercial" value="Nombre Comercial" /><br></br>
                                <p:inputTextarea id="nombreComercial" value="#{empresaMB.dato.nombreComercial}" 
                                                 rows="2" required="true" style=" text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="razonSocial" value="Razón Social" /><br></br>
                                <p:inputTextarea id="razonSocial" value="#{empresaMB.dato.razonSocial}"
                                                 rows="2" required="true" style="text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="actividadEcono" value="Actividad Económica" /><br></br>
                                <p:inputTextarea id="actividadEcono" value="#{empresaMB.dato.actividadEconomica}"
                                                 rows="2" required="true" style="text-align: right"/>
                            </h:panelGroup>
                            <h:panelGroup>
                                <p:outputLabel for="email" value="Correo" /><br></br>
                                <p:inputText id="email" value="#{empresaMB.dato.correo}"
                                             required="true"/><br></br>
                                <p:outputLabel for="telefono" value="Teléfono" /> <br></br>
                                <p:inputText id="telefono" value="#{empresaMB.dato.telefono}" 
                                             style="text-align: right"/>
                            </h:panelGroup>
                            
                            <h:panelGroup>
                                <p:outputLabel for="direccion" value="Dirección" /><br></br>
                                <p:inputTextarea id="direccion" value="#{empresaMB.dato.direccion}" 
                                                 rows="4" required="true" 
                                                 style="text-align: right"/>
                            </h:panelGroup>
                        </p:panelGrid>
                        <br></br>
                        <div align="center">
                            <br></br>
                            <p:commandButton value="#{empresaMB.editar eq false ? 'Guardar' : 'Actualizar'}" 
                                             update="@form"
                                             icon="fa fa-save"
                                             style="width: 20%" 
                                             actionListener="#{empresaMB.guardar()}"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
