<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno - Categorías</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/inventario">Inventarios</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
            .red {
                background-color: red !important;
                background-image: none !important;
                color: #000000 !important;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="frmMain" >

            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-4">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Datos de Inventario</h1>
                                <p:panelGrid id="pnlDatosCategoria" columns="1" layout="grid"  >
                                    <h:panelGroup>
                                        <p:outputLabel for="idCategoria" value="Categoria" /><br></br>
                                        <p:selectOneMenu id="idCategoria" required="true"
                                                         value="#{inventarioMB.idCategoria}">
                                            <f:selectItem itemLabel="Seleccione"
                                                          itemValue="#{null}"/>
                                            <f:selectItems value="#{inventarioMB.categorias}"
                                                           var="cat"
                                                           itemLabel="#{cat.abreviatura} - #{cat.producto}"
                                                           itemValue="#{cat.id}"/>
                                        </p:selectOneMenu> 
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="cantidadInicial" value="Cantidad Inicial" /><br></br>
                                        <p:inputText id="cantidadInicial" value="#{inventarioMB.dato.cantidadInicial}" 
                                                     required="true" style="text-transform: uppercase; text-align: right"/>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="cantidadActual" value="Cantidad Actual" /><br></br>
                                        <p:inputText id="cantidadActual"  value="#{inventarioMB.dato.cantidadActual}" 
                                                     readonly="true" style="text-align: right"/>
                                    </h:panelGroup>
                                    <h:panelGroup>

                                        <p:outputLabel  for="fecha" value="Fecha:" />
                                        <p:calendar id="fecha" mindate="sysdate" mode="inline" value="#{inventarioMB.fecha}"   style="width: 100%" />
                                    </h:panelGroup>
                                </p:panelGrid>
                                <br></br>
                                <div align="center">
                                    <br></br>
                                    <p:commandButton value="#{categoriaMB.editar eq false ? 'Guardar' : 'Actualizar'}" 
                                                     update="@form"
                                                     icon="fa fa-save"
                                                     style="width: 20%" actionListener="#{inventarioMB.guardar()}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-lg-8">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Inventarios Registrados</h1>
                                <p:dataTable id="dtDatos" value="#{inventarioMB.datos}" 
                                             var="dato"
                                             reflow="true"    >
                                    <p:column headerText="Categoría">
                                        <p:outputLabel value="#{dato.categoria.abreviatura} - #{dato.categoria.producto}" />
                                    </p:column>

                                    <p:column headerText="Fecha">
                                        <p:outputLabel value="#{dato.fecha}" />
                                    </p:column>
                                    <p:column headerText="Cantidad Inicial">
                                        <p:outputLabel value="#{dato.cantidadInicial}" />
                                    </p:column>
                                    <p:column headerText="Cantidad Actual">
                                        <p:outputLabel value="#{dato.cantidadActual}" />
                                    </p:column>

                                    <p:column headerText="Acciones" width="100">
                                        <div align="center">
                                            <p:commandLink title="Editar Datos"
                                                           process="@this"
                                                           update="@form"
                                                           actionListener="#{inventarioMB.loadDato(dato)}">
                                                <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                            </p:commandLink> 
                                            <p:spacer width="5" />
                                            <p:commandLink title="Eliminar" 
                                                           process="@this"
                                                           update="@form"
                                                           >
                                                <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                <p:confirm header="Confirmación de eliminación" 
                                                           message="Esta seguro de eliminar un Inventario" 
                                                           icon="fa fa-exclamation-triangle" />
                                            </p:commandLink>  
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 

        </h:form>
    </ui:define>

</ui:composition>
