<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Usuarios</ui:define>
    <ui:define name="viewname">
        <li>Configuraciones</li>    
        <li><p:link outcome="/configuraciones/usuarios">Usuarios</p:link></li>
    </ui:define>

    <ui:define name="head">
        <style type="text/css">
            .ui-panelgrid.form-elements .ui-grc-2 {
                padding-left: 60px;
            }

            @media (max-width:1024px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 20px;
                }
            }

            @media (max-width:640px) {
                .ui-panelgrid.form-elements .ui-grc-2 {
                    padding-left: 6px;
                }
            }

            .dialogDemo label {
                line-height: 2.1em;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="p-grid ui-fluid">
                <div class="p-col-12 p-lg-5">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card card-w-title">
                                <h1>Informacion</h1>
                                <p:panelGrid columns="2" layout="grid" style="font-weight: bolder">
                                    <h:panelGroup>
                                        <p:outputLabel for="roles" value="Roles" /><br/><br/>
                                        <p:selectOneMenu id="roles" required="true" disabled="#{usuarioSession.usuario.rol.id ne 1}"
                                                         value="#{usuarioMB.idRol}" >
                                            <f:selectItem itemLabel="Seleccione" itemValue="#{null}"/>
                                            <f:selectItems value="#{usuarioMB.roles}" var="roles" 
                                                           itemLabel="#{roles.nombre}" 
                                                           itemValue="#{roles.id}" itemLabelEscaped="false" />
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="activo" value="Estado" /><br/><br/>
                                        <p:selectOneMenu id="activo" required="true" disabled="#{usuarioSession.usuario.rol.id ne 1}"
                                                         value="#{usuarioMB.usuario.estado}" >
                                            <f:selectItem itemLabel="Seleccione" itemValue="#{null}"/>
                                            <f:selectItem itemLabel="SI" itemValue="#{true}"/>
                                            <f:selectItem itemLabel="NO" itemValue="#{false}"/>

                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="usuario" value="Usuario:" /><br/><br/>
                                        <p:inputText id="usuario" readonly="true"
                                                     value="#{usuarioMB.usuario.usuario}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="clave" value="Clave:" /><br/><br/>
                                        <p:password id="clave" 
                                                    value="#{usuarioMB.usuario.clave}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="identificacion" value="Identificación:" /><br/><br/>
                                        <p:inputText id="identificacion" readonly="true"
                                                     value="#{usuarioMB.usuario.persona.identificacion}" />
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="nombres" value="Nombres:" /><br/><br/>
                                        <p:inputText id="nombres" readonly="true"
                                                     value="#{usuarioMB.usuario.persona.primerNombreApellido}" />
                                    </h:panelGroup>

                                    <h:panelGroup>
                                        <p:outputLabel for="celular" value="Celular:" /><br/><br/>
                                        <p:inputText id="celular" 
                                                     value="#{usuarioMB.usuario.persona.celular}" />
                                    </h:panelGroup>
                                </p:panelGrid>
                                <br/>
                                <div align="center">
                                    <p:commandButton value="Actualizar"
                                                     styleClass="rounded-btn"
                                                     icon="fa fa-save"
                                                     style="width: 40%"
                                                     update="@form"
                                                     actionListener="#{usuarioMB.actualizarUsuario()}" />
                                    <p:spacer width="30" height="20" />
                                    <p:commandButton value="Cancelar" rendered="#{usuarioMB.edit}"
                                                     styleClass="rounded-btn"
                                                     icon="fa fa-close"
                                                     style="width: 40%;"
                                                     update="@form"
                                                     actionListener="#{usuarioMB.loadValue()}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h:panelGroup rendered="#{usuarioSession.usuario.rol.id eq 1}">
                    <div class="p-col-12 p-lg-7">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <div class="card card-w-title">
                                    <h1>Usuarios Registrados</h1>
                                    <p:dataTable id="dtUsuarios" var="usuario" value="#{usuarioMB.usuarios}" 
                                                 reflow="true" selectionMode="single" 
                                                 rowKey="#{usuario.id}">

                                        <p:column headerText="Nombre" >
                                            <h:outputText value="#{usuario.persona.primerNombreApellido}" />
                                        </p:column>
                                        <p:column headerText="Usuario">
                                            <h:outputText value="#{usuario.usuario}" />
                                        </p:column>
                                        <p:column headerText="Rol">
                                            <h:outputText value="#{usuario.rol.nombre}" />
                                        </p:column>
                                        <p:column headerText="Usuario">
                                            <h:outputText value="SI" rendered="#{usuario.estado}" />
                                            <h:outputText value="NO" rendered="#{!usuario.estado}" />
                                        </p:column>

                                        <p:column headerText="Acciones">
                                            <div align="center">
                                                <p:commandLink title="Editar Datos" 
                                                               actionListener = "#{usuarioMB.loadUsuario(usuario)}" 
                                                               update="@form"
                                                               process="@this">
                                                    <i class="fa fa-edit" style="font-size: 1.5em; margin-right: 8px; color: #0D47A1;"></i>
                                                </p:commandLink> 
                                                <p:spacer width="10" />
                                                <p:commandLink title="Eliminar" 
                                                               actionListener="#{usuarioMB.eliminarUsuario(usuario)}"
                                                               update="@form"
                                                               process="@this">
                                                    <i class="fa fa-trash" style="font-size: 1.5em; margin-right: 5px; color: red;"></i>
                                                    <p:confirm header="Confirmación de eliminación"
                                                               message="¿Está seguro de eliminar el Usuario?"
                                                               icon="fa fa-exclamation-triangle" />
                                                </p:commandLink>  
                                            </div>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes GreenButton" icon="fa fa-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no RedButton" icon="fa fa-times" />
            </p:confirmDialog> 
        </h:form>
    </ui:define>

</ui:composition>
