<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

    <ui:define name="title">AutoFreno</ui:define>
    <ui:define name="viewname">
        <li><p:link id="linkInicio" style="font-weight: bolder; color: #000000" 
                    outcome="/public/dashboard">Inicio</p:link></li>

    </ui:define>
    <ui:define name="content">
        <h:form>
            <style>
                .ui-clock{
                    border: none !important;
                    background-color: transparent  !important;
                    font-weight: bolder; 
                }
            </style>
            <div align="right" >
                <p:clock pattern="dd-MM-yyyy HH:mm:ss"/>
            </div>
            <br></br>
            <div class="layout-dashboard">
                
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-4">
                        <div class="overview-box  box-sales">
                            <div class="overview-box-icon">
                                <p:commandLink action="/ordenes/ordenesGeneradas.xhtml?faces-redirect=true">
                                    <i class="fa fa fa-vine"></i>    
                                </p:commandLink>

                            </div>
                            <div class="overview-box-title"></div>
                            <div class="overview-box-value">Ordenes</div>
                            <div class="overview-box-status"></div>

                        </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-lg-4">
                        <div class="overview-box  box-views">
                            <div class="overview-box-icon">
                                <p:commandLink action="/ordenes/ordenes.xhtml?faces-redirect=true">
                                    <i class="fa fa-bitbucket-square"></i>
                                </p:commandLink>
                            </div>
                            <div class="overview-box-title"></div>
                            <div class="overview-box-value">Nueva Orden</div>
                            <div class="overview-box-status"></div>

                        </div>
                    </div>



                    <div class="p-col-12 p-md-6 p-lg-4">
                        <div class="overview-box  box-checkins">
                            <div class="overview-box-icon">
                                <p:commandLink action="/configuraciones/clientes.xhtml?faces-redirect=true">
                                    <i class="fa fa-users"></i>
                                </p:commandLink>
                            </div>
                            <div class="overview-box-title"></div>
                            <div class="overview-box-value">Clientes</div>
                            <div class="overview-box-status"></div>
                        </div>
                    </div>

                    <h:panelGroup rendered="#{usuarioSession.usuario.rol.id eq 1}">
                        <div class="p-col-12 p-lg-12">
                            <div class="card table">
                                <h1 style="margin-top:0">Inventario</h1>
                                <p:dataTable id="dtDatos" value="#{inventarioMB.datos}" 
                                             var="dato"
                                             reflow="true"    >
                                    <p:column headerText="Categoría">
                                        <p:outputLabel value="#{dato.categoria.abreviatura} - #{dato.categoria.producto}" />
                                    </p:column>

                                    <p:column headerText="Fecha">
                                        <p:outputLabel value="#{dato.fecha}" >
                                            <f:convertDateTime parent="dd-MM-yyy HH:mm:ss" />
                                        </p:outputLabel>
                                    </p:column>
                                    <p:column headerText="Cantidad Inicial">
                                        <p:outputLabel value="#{dato.cantidadInicial}" />
                                    </p:column>
                                    <p:column headerText="Cantidad Actual">
                                        <p:outputLabel value="#{dato.cantidadActual}" />
                                    </p:column>

                                </p:dataTable>
                            </div>
                        </div>
                    </h:panelGroup>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>