<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />

        </f:facet>
        <title>Auto Freno</title>
    </h:head>

    <h:body styleClass="login-body">

        <div class="mobile-banner">
            <p:graphicImage name="images/autofreno.png" library="prestige-layout"  width="20" height="20"/>
        </div>
        <div class="login-panel">
            <div class="logo">
                <p:graphicImage name="images/autofreno.png" library="prestige-layout" width="110" height="120" />
            </div>

        </div>

        <div class="login-card">
            <div class="top-border"></div>
            <div class="login-content">
                <h:form prependId="false">
                    <p:growl id="messages" showDetail="true" globalOnly="true" showSummary="true" ><p:autoUpdate/></p:growl>
                    <h1>Iniciar Sesión</h1>
                    <p>Bienvenido a la Ventanilla Pública  <br></br> <b>AutoFreno </b></p>
                    <div class="username-container">
                        <h:panelGroup>
                            <label>Usuario</label>
                            <div class="login-input">
                                <p:inputText value="#{loginMB.usuario.usuario}" placeholder="Ingrese su usuario" />
                            </div>
                        </h:panelGroup>
                    </div>
                    <div class="password-container">
                        <h:panelGroup>
                            <label>Contraseña</label>
                            <div class="login-input">
                                <p:password value="#{loginMB.usuario.clave}" 
                                            placeholder="Ingrese su contraseña" />
                            </div>
                        </h:panelGroup>
                    </div>
                    <div class="forgetpassword-container">
<!--                        <p:commandLink value="Olvidó su Contraseña?" action="/registro/forgot.xhtml?faces-redirect=true" /><br></br>-->
                        <p:commandLink value="No tienes cuenta? Registrate" style="font-weight: bolder" action="/registro/registroUsuario.xhtml?faces-redirect=true" />

                    </div>
                    <div>
                        <p:commandButton update="@form" action="#{loginMB.iniciarSesion()}" 
                                         styleClass="rounded-btn"
                                         value="Iniciar Sesión"
                                         icon="fa fa-user"/>
                    </div>
                </h:form>
            </div>

        </div>

        <h:outputStylesheet name="css/layout-steel.css" library="prestige-layout" />

    </h:body>

</html>