<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="layout-actionbar">
        <div class="breadcrumb">
            <div class="route-bar-breadcrumb">
                <ui:insert name="viewname" />
            </div>
        </div>
        <div class="actions " style="margin-top: 0px !important; padding-top: 0px !important;">
            <ul>               
                <li>
                    <p:button icon="fa fa-life-ring icon" title="Inicio" outcome="/public/dashboard" />
                </li>
              
            </ul>
        </div>
    </div>
</ui:composition>