<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <div class="layout-footer">
        <div class="p-grid">
            <div class="p-col-12 p-md-6  p-lg-3">
                <span class="logo">AutoFreno - UG</span>
                
            </div>
             
             
            <div class="p-col-12 p-md-6 p-lg-3">
                <span>SOCIAL</span>
                <div class="p-grid">
                    <ul class="links social">
                        <li><a href="https://twitter.com/EMOT_Duran" class="icon-link"><i class="fa fa-twitter icon"></i></a></li>
                        <li><a href="https://www.instagram.com/emot_duran/" class="icon-link"><i class="fa fa-instagram icon"></i></a></li>
                        <li><a href="https://www.facebook.com/EMOTDuran/" class="icon-link"><i class="fa fa-facebook icon"></i></a></li>
                        
                    </ul>

                </div>

            </div>
        </div>
    </div>
</ui:composition>