<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:po="http://primefaces.org/prestige">

    <div class="layout-menu-container">
        <div class="overlay-menu-button">
            <div class="overlay-menu-button-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="overlay-menu-button-times">
                <span></span>
                <span></span>
            </div>
        </div>

        <h:form id="menuform">  
            <div class="layout-menu-wrapper">      
                <po:menu widgetVar="prestigeMenuWidget">
                    <p:menuitem id="om_dashboard" value="Inicio" icon="fa fa-fw fa-dashboard" outcome="/public/dashboard" />
                    <p:submenu id="om_inventario" label="Inventario" icon="fa fa-bullseye" rendered="#{usuarioSession.usuario.rol.id eq 3 or usuarioSession.usuario.rol.id eq 1}">
                        <p:menuitem id="om_categoria_tipo" value="Tipos de Categorias" icon="fa fa-connectdevelop" outcome="/configuraciones/categoriaTipo" />
                        <p:menuitem id="om_categoria" value="Repuestos" icon="fa fa-shirtsinbulk" outcome="/configuraciones/categorias" />
                        <p:menuitem id="om_inven" value="Inventario" icon="fa fa-arrows-alt"
                                    outcome="/configuraciones/inventario" />
                    </p:submenu>

                    <p:submenu id="om_ordenes" label="Ordenes" icon="fa fa-vine">
                        <p:menuitem id="om_ordenesGeneradas" value="Ordenes Generadas" icon="fa fa-newspaper-o" outcome="/ordenes/ordenesGeneradas" />    
                        <p:menuitem id="om_noticias" value="Nueva Orden" icon="fa fa-bitbucket-square"
                                    outcome="/ordenes/ordenes" />    
                    </p:submenu>

                    <p:menuitem id="om_turnos" value="Reportes" icon="fa fa-file-pdf-o"
                                outcome="/configuraciones/reportes/reportes" rendered="#{usuarioSession.usuario.rol.id eq 1}"/>


                    <p:submenu id="om_components" label="Administración " icon="fa fa-cog">
                        <p:menuitem id="om_user" value="Usuario" icon="fa fa-user" outcome="/configuraciones/usuarios"  />
                        <p:menuitem id="om_centro" value="Clientes" icon="fa fa-users"
                                    outcome="/configuraciones/clientes" />
                        <p:menuitem id="om_empresa" value="Empresa" icon="fa fa-university"
                                    outcome="/configuraciones/empresa" rendered="#{usuarioSession.usuario.rol.id eq 1}" />

                    </p:submenu>




                </po:menu>
            </div>                  
        </h:form>
    </div>
</ui:composition>