<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <link rel="icon" type="image/x-icon" 
                  href="#{resource['prestige-layout:images/autofreno.png']}" />
        </f:facet>
        <title><ui:insert name="title">AutoFreno</ui:insert></title>
        <h:outputScript name="js/layout.js" library="prestige-layout" />
        <ui:insert name="head"/>
    </h:head>

    <h:body>
        <div class="layout-wrapper #{guestPreferences.menuMode} #{guestPreferences.layout}">
            <p:growl id="messages" showDetail="true" globalOnly="true" showSummary="true" ><p:autoUpdate/></p:growl>
            <ui:include src="./topbar.xhtml"></ui:include>
            <ui:include src="./menu.xhtml"></ui:include>
            <ui:include src="./actionbar.xhtml" />
            <div class="layout-content">
                <ui:insert name="content"></ui:insert>
            </div>
            <ui:include src="./footer.xhtml"></ui:include>

            <!--            <ui:include src="./config.xhtml" />-->

            <div class="layout-mask"></div>

            <p:ajaxStatus styleClass="layout-ajax-loader">
                <f:facet name="start">
                    <i class="fa fa-circle-o-notch fa-spin layout-ajax-loader-icon" aria-hidden="true"></i>
                </f:facet>

                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>
        </div>

        <h:outputStylesheet name="css/primeflex.css" library="prestige-layout" />
        <h:outputStylesheet name="css/#{guestPreferences.layout}.css" library="prestige-layout" />
    </h:body>

</html>