<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:po="http://primefaces.org/prestige">
    <h:form>
        <div class="layout-topbar">
            <div class="layout-topbar-logo">
                <h:link outcome="/public/dashboard">
                    <p:graphicImage name="images/logo.png" 
                                    width="210" height="120"
                                    library="prestige-layout" />
                </h:link>
            </div>
            <a class="layout-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="layout-topbar-menu" role="menu">
                
                <li class="user-profile" role="menuitem">
                    <a href="#">
                        <div class="user-profile-info profile-link">
                            <span class="user-profile-name">#{usuarioSession.usuario.persona.primerNombreApellido}</span>
                            <span class="user-profile-role">#{usuarioSession.usuario.rol.nombre}</span>
                        </div>
                        <p:graphicImage styleClass="logo" 
                                        value="#{usuarioSession.usuario.urlImagen}"/>
                    </a>
                    <ul>
                        <li class="profile-detail">
                            <div class="user-profile-info">
                                <p:graphicImage styleClass="logo" 
                                        value="#{usuarioSession.usuario.urlImagen}" />
                                <div class="profile-info">
                                    <span class="user-profile-name">#{usuarioSession.usuario.persona.primerNombreApellido}</span>
                                    <span class="user-profile-role">#{usuarioSession.usuario.rol.nombre}</span>
                                </div>
                                <p:commandLink id="btnLogOut" actionListener="#{usuarioSession.cerrarSesion()}" 
                                               update="@this"
                                               styleClass="profile-detail-icon"
                                               rendered="#{usuarioSession.isLogged}">
                                    <i class="fa fa-sign-out"></i>
                                </p:commandLink>
<!--                                <a href="#" class="profile-detail-icon">
                                    <i class="fa fa-sign-out"></i>
                                </a>-->
                            </div>
                        </li>
                        


                    </ul>
                </li>
            </ul>
        </div>
    </h:form>

</ui:composition>