<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Vehiculos</ui:define>

    <ui:define name="viewname">Vehiculos</ui:define>

    <ui:define name="head">
        <style type="text/css">
            .nba-grid {
                width: 100%;
                table-layout: fixed;
                word-wrap: break-word;
            }

            .ui-scrollpanel-content p:first-child {
                margin: 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h:form id="frmInit">
            <div class="card card-w-title">
                <p:messages   showDetail="true" closable="true"/>
                <p:commandButton value="Nuevo" actionListener="#{vehiculoMB.loadValue()}" 
                                 update="formRegistro" 
                                 oncomplete="PF('dlgRegistro').show();" />
                <br></br><br></br>
                <p:dataTable var="dato" value="#{vehiculoMB.datos}" id="datos"
                             scrollable="true" scrollHeight="350">
                    <f:facet name="header" >
                        Vehiculos Registrados
                    </f:facet>

                    <p:column headerText="Modelo"  filterMatchMode="contains" > 
                        <h:outputText value="#{dato.modelo}" />
                    </p:column>
                    <p:column headerText="Placa"  filterMatchMode="contains" > 
                        <h:outputText value="#{dato.placa}" />
                    </p:column>
                    <p:column headerText="Año"  filterMatchMode="contains" > 
                        <h:outputText value="#{dato.anio}" />
                    </p:column>
                    <p:column headerText="Descripcion"  filterMatchMode="contains" > 
                        <h:outputText value="#{dato.descripcion}" />
                    </p:column>
                    <p:column headerText="Color"  filterMatchMode="contains" > 
                        <h:outputText value="#{dato.color}" />
                    </p:column>

                    <p:column headerText="Accion" >   
                        <center>
                            <p:commandButton value="Editar" actionListener="#{vehiculoMB.loadEditar(dato)}"
                                             update="formEditar" 
                                             oncomplete="PF('dlgEditar').show();" />
                            <p:spacer width="10"/>
                            <p:commandButton value="Eliminar" actionListener="#{vehiculoMB.eliminar(dato)}"
                                             update="frmInit"
                                             />
                        </center>
                    </p:column>

                </p:dataTable>

            </div>
        </h:form>



        <p:dialog header="Registrar" widgetVar="dlgRegistro" 
                  resizable="false" closeOnEscape="true"  
                  width="50%"  position="center"
                  closable="true">
            <h:form id="formRegistro">
                <center>
                    <h:panelGrid columns="2">
                        <p:outputLabel for="rol" value="Modelos" />
                        <p:selectOneMenu id="rol" value="#{vehiculoMB.dato.modelo}" >
                            <f:selectItem itemLabel="SELECCIONE" noSelectionOption="true" />
                            <f:selectItems value="#{vehiculoMB.modelos}" var="r" itemLabel="#{r.marca.descripcion} - #{r.descripcion}" 
                                           itemValue=" #{r.marca.descripcion} - #{r.descripcion}" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Placa" />
                        <p:inputText  value="#{vehiculoMB.dato.placa}"  
                                      required="true"  />

                        <p:outputLabel value="Año" />
                        <p:inputText  value="#{vehiculoMB.dato.anio}"  
                                      required="true"  />

                        <p:outputLabel value="Descripcion" />
                        <p:inputText  value="#{vehiculoMB.dato.descripcion}"  
                                      required="true"  />

                        <p:outputLabel value="Color" />
                        <p:inputText  value="#{vehiculoMB.dato.color}"  
                                      required="true"  />


                    </h:panelGrid>
                    <p:commandButton value="Registrar" actionListener="#{vehiculoMB.save()}"  
                                     oncomplete="PF('dlgRegistro').hide();" 
                                     update="frmInit"/>
                </center>
            </h:form>
        </p:dialog>

        <p:dialog header="Editar" widgetVar="dlgEditar" 
                  resizable="false" closeOnEscape="true"  
                  width="50%"  position="center"
                  closable="true">
            <h:form id="formEditar">
                <center>
                    <h:panelGrid columns="2">
                        <p:outputLabel for="rol" value="Modelos" />
                        <p:selectOneMenu id="rol" value="#{vehiculoMB.dato.modelo}" >
                            <f:selectItem itemLabel="SELECCIONE" noSelectionOption="true" />
                            <f:selectItems value="#{vehiculoMB.modelos}" var="r" itemLabel="#{r.marca.descripcion} - #{r.descripcion}" 
                                           itemValue=" #{r.marca.descripcion} - #{r.descripcion}" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Placa" />
                        <p:inputText  value="#{vehiculoMB.dato.placa}"  
                                      required="true"  />

                        <p:outputLabel value="Año" />
                        <p:inputText  value="#{vehiculoMB.dato.anio}"  
                                      required="true"  />

                        <p:outputLabel value="Descripcion" />
                        <p:inputText  value="#{vehiculoMB.dato.descripcion}"  
                                      required="true"  />

                        <p:outputLabel value="Color" />
                        <p:inputText  value="#{vehiculoMB.dato.color}"  
                                      required="true"  />


                    </h:panelGrid>
                    <p:commandButton value="Actualizar" actionListener="#{vehiculoMB.editar()}" 
                                     oncomplete="PF('dlgEditar').hide();" update="frmInit"/>
                </center>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
