<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:cc="http://xmlns.jcp.org/jsf/composite" 
      xmlns:p="http://primefaces.org/ui" >

    <cc:interface >
        <cc:attribute name="categoria" required="true" type="org.atlantis.dto.CategoriaDTO" />
    </cc:interface>
    <cc:implementation>

        <div class="p-col-12 p-md-6  p-lg-4" >
            <div class="card user-card" style="border-radius: 3ex !important">
                <div class="user-card-header" style="border-radius: 3ex 3ex 0ex 0ex ">
                    <p:graphicImage url="#{categoria.urlImagen}" />
                </div>
                <div class="user-card-content">
                    <p:graphicImage  name="images/logo_emot.png"  width="65" height="55"  library="prestige-layout" />
                    <p:commandButton type="button"  icon="fa fa-send" />
                    <div class="user-card-name" style="color: #ffffff !important; font-size: 15px !important; margin-left: 100px !important; width: 200px !important">
                        <span>#{categoria.abreviaturaDescripcion}</span>
                    </div>
                    <div class="user-detail" style="text-align: justify; line-height: 160%">
                        <ul><li>#{categoria.descripcionBreve}</li></ul>
                    </div>
                </div>
                <center>
                    <p:commandButton icon="fa fa-send" value="Reservar Turno" 
                                     actionListener="#{reservaTurnoMB.seleccionarCategoria(categoria)}"
                                     update="@form"/>
                </center>
                <br></br>
            </div>
        </div>
    </cc:implementation>
</html>
