<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">AutoFreno - Reportes</ui:define>
    <ui:define name="viewname">
        <li>Reporte</li>    
        <li><p:link outcome="/configuraciones/reportes/reportes">Reportes</p:link></li>
    </ui:define>

    <ui:define name="content">
        <center>

        </center>
        <h:form id="frmRep">
            <center>
                <p:panel style="width: 60%; resize: horizontal; font-weight: bolder" >
                    <h1>Reportes</h1><br></br>
                    <p:selectOneMenu value="#{reporteMB.tipoReporte}">
                        <f:selectItem itemLabel="Seleccione..." itemValue="#{0}" />
                        <f:selectItem itemLabel="Ordenes" itemValue="#{1}"  />
                        <f:selectItem itemLabel="Inventario" itemValue="#{2}"  />
                    </p:selectOneMenu>

                    <br/>
                    <br/>

                    <p:outputLabel value="#{reporteMB.fechaLarga}" style="font-size: 16px; font-weight: bold; "/>
                    <br></br>

                    <h:panelGrid cellpadding="5" cellspacing="10" columns="2" >
                        <h:panelGroup>
                            <p:outputLabel value="Fecha desde"/> <br></br>
                            <p:calendar value="#{reporteMB.desde}" pattern="dd/MM/yyyy"/>    
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:outputLabel value="Fecha Hasta"/> <br></br>
                            <p:calendar value="#{reporteMB.hasta}" pattern="dd/MM/yyyy"/>    
                        </h:panelGroup>

                    </h:panelGrid>
                    <p:commandButton value="Imprimir PDF" styleClass="btnStyle" 
                                     actionListener="#{reporteMB.imprimir(false)}" 
                                     ajax="false" />
                    
                    <p:spacer width="5" />
                    <p:commandButton value="Imprimir EXCEL" styleClass="btnStyle" 
                                     actionListener="#{reporteMB.imprimir(true)}" 
                                     ajax="false" />
                </p:panel>  
            </center>
        </h:form>
    </ui:define>

</ui:composition>
